src/name.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="textread" type="Textread"/>  
	<xs:complexType name="Textread">
		<xs:sequence>
			<xs:element name="dataText" type="DataText" maxOccurs="unbounded"/>   
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DataText">
		<xs:sequence>
			<xs:element name="question" type="xs:string"/>   
			<xs:element name="option1" type="xs:string"/>
			<xs:element name="option2" type="xs:string"/>
			<xs:element name="option3" type="xs:string"/>
			<xs:element name="option4" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
